// override defalt minima variables 

// width of the content area
// can be set as "px" or "%"
// change from px to % 
$content-width:    100%;
$on-palm:          80%;
$on-laptop:        100%;
$on-medium:        100%;
$on-large:         120%;
